   @media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
     html,body {
         font-size:34.56px;
     }
   }
     @media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
     html,body {
         font-size:30.72px;
     }
   }
     @media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
     html,body {
         font-size:25.6px;
     }
   }
     @media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
     html,body {
         font-size:23.04px;
     }
   }
     @media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
     html,body {
         font-size:20.48px;
     }
   }
     @media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
     html,body {
         font-size:19.200000000000003px;
     }
   }
     @media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
     html,body {
         font-size:17.28px;
     }
   }
     @media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
     html,body {
         font-size:15.36px;
     }
   }
     @media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
     html,body {
         font-size:13.248000000000001px;
     }
   }
     @media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
     html,body {
         font-size:12.8px;
     }
   }
     @media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
     html,body {
         font-size:12px;
     }
   }
     @media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
     html,body {
         font-size:11.52px;
     }
   }
     @media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
     html,body {
         font-size:10.24px;
     }
   }
     @media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
     html,body {
         font-size:7.68px;
     }
   }
/*公共样式，主文字80%的58595b*/
  *{padding:0;margin:0}
body,div,p,span,strong,section,h1,h2,h3,h4,h5,h6,hr,a,i,b,em,input,canvas,ul,li,dl,dd,dt,img,iframe,label,table,th,tr,td,select,sup,sub,pre,video,source,textarea{padding:0px; margin: 0px; font-size: 1rem; font-weight: normal; font-family:myFirstFont,arial,helvetica,"microsoft yahei"; color: rgba(88,89,91,0.8); list-style: none; font-style: normal; line-height: 1em; border: 0px;}
input,button,select,textarea{-webkit-appearance:none;outline:none}textarea{resize:none}

a,button{text-decoration: none; cursor: pointer; border: none;}
/*@font-face
{
    font-family: myFirstFont;
    src: url('W3.otf');
}*/
/* IOS移动端点击阴影如何去除*/
*{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
/*a:link{color: #464646;}*/
/*a:visited{color: #C61231;}*/
/*a:active{color: #C61231;}
a:hover{color: #C61231!important;}*/
sup{font-size:1rem;}
img{border: 0px;}
/*颜色*/
.backgry{background: #efeff4;}
.purple{color: #5764a1!important;}
.orange{color: #ff9000;}
.grytips{color: #999999;}
.purplebtn{background: #5764a1; color: #FFFFFF;}
.gryline{width: 100%; height: 0.8333333333333334rem; background: #f3f3f3; border: none;}
.grybg{width: 100%; background: #eeeeee;}

.fnclear:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.fnclear{zoom:1} 
.fnleft{float: left;}
.fnright{float: right!important;}
.positionri{position: relative;}
.paddbottom{padding-bottom: 4.166666666666667rem;}


/*公共input、textarea默认样式*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #888888; 
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #888888; 
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #888888; 
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #888888; 
}

/*中间部分*/
#center{}
/*音频播放*/

/*下载按钮隐藏掉*/
/*audio::-internal-media-controls-download-button {display:none;}
audio::-webkit-media-controls {overflow: hidden !important}
audio::-webkit-media-controls-enclosure {width: calc(100% + 2.6666666666666665rem);}*/
.audioall{
    display: flex;
    flex-flow: column; 
    justify-content: flex-start;
    align-items: center;
     width: 100%;    
     height: auto;
     overflow: hidden;
    }
.audioall img{
	 width: 100%;
   	height: auto;
}
.audiodiv{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	background: rgba(255,255,255,.5);
	width: 100%;
	height: 2.5rem;
}
/*#wrapper{
	display: block;
	width: 100%;
	height: auto;
}*/
/*底部*/
#footernav{width: 100%; height: 4.166666666666667rem;/* position: fixed;bottom: 0px; left: 0px;*/ background: #ffffff; border-top: 1px solid #dcdddf;z-index: 999;}
#footernav a.jinc{width: 25%; height: 4.166666666666667rem; float: left; text-align: center;}
#footernav a.jinc img{display: inline-block; margin-top: 0.4166666666666667rem; width:2.3333333333333335rem; height: 2.0833333333333335rem; }
#footernav a.jinc span{display: block; width: 100%; text-align: center; line-height: 1.5rem; font-size: 1rem; color: #666666;}
.onthis span{color: #cc3e44!important; }
/*#footernav{width: 100%; height: 4.166666666666667rem; position: fixed;bottom: 0px; left: 0px; background: #ffffff; border-top: 1px solid #dcdddf}
#footernav a.jinc{width: 25%; height: 4.166666666666667rem; float: left; text-align: center;}
.jinc .footerimg1{display: inline-block; margin-top: 0.4166666666666667rem; width:2.3333333333333335rem; height: 2.0833333333333335rem;  background: url(../image/navbottom1.png) center no-repeat; background-size:2.3333333333333335rem 2.0833333333333335rem; }
.jinc .footerimg2{display: inline-block; margin-top: 0.4166666666666667rem; width:2.3333333333333335rem; height: 2.0833333333333335rem;  background: url(../image/navbottom2.png) center no-repeat;background-size:2.3333333333333335rem 2.0833333333333335rem;}
.jinc .footerimg3{display: inline-block; margin-top: 0.4166666666666667rem; width:2.3333333333333335rem; height: 2.0833333333333335rem;  background: url(../image/navbottom3.png) center no-repeat;background-size:2.3333333333333335rem 2.0833333333333335rem;}
.jinc .footerimg4{display: inline-block; margin-top: 0.4166666666666667rem; width:2.3333333333333335rem; height: 2.0833333333333335rem;  background: url(../image/navbottom4.png) center no-repeat; background-size:2.3333333333333335rem 2.0833333333333335rem;}
.onthis .footerimg1{background: url(../image/navbottom1-1.png) center no-repeat;  background-size:2.3333333333333335rem 2.0833333333333335rem;}
.onthis .footerimg2{background: url(../image/navbottom2-2.png) center no-repeat;  background-size:2.3333333333333335rem 2.0833333333333335rem;}
.onthis .footerimg3{background: url(../image/navbottom3-3.png) center no-repeat;  background-size:2.3333333333333335rem 2.0833333333333335rem;}
.onthis .footerimg4{background: url(../image/navbottom4-4.png) center no-repeat;  background-size:2.3333333333333335rem 2.0833333333333335rem;}
.jinc span{display: block; width: 100%; text-align: center; line-height: 1.5rem; font-size: 0.8891666666666667rem; color: #666666;}
.onthis span{color: #cc3e44!important; }*/
/*banner*/
.swiper-container {
    width: 31.25rem;
    height: 14.833333333333334rem;
} 
.swiper-slide img{width: 100%; height: 14.833333333333334rem;}
/*弹窗，罗杰*/
.tankuang{display: none; width: 6.666666666666667rem; height: 2.5rem; text-align: center; line-height: 2.5rem; position: fixed; left: 50%; margin-left: -3.3333333333333335rem;
 top: 50%; margin-top: -1.25rem; background: #000;color: #fff; font-size: 1.1666666666666667rem; z-index: 9999999; border-radius: 15px;}
/*loading*/
.theme-loading{
	display: none;
	width: 102.5%;
	height: 50px;
	line-height: 50px;
	background: #eeeeee url(../image/loader_ico2.gif) no-repeat center;
	background-size: 20px auto; 
}
/*404*/
.ico404{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width:19rem;
	height:22.3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13.15rem;
	margin-left:-9.5rem;
}

.srccessed{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 102.5%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #666;
	background: #eeeeee;
	display: none;
	
}
/*点赞div*/
.zhezhaoc{
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: none;
}
.zhezhaoc2{
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: none;
}
.disabled { pointer-events: none; }  
.zhezhao{
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	font-size: 1.3333333333333333rem;
	color: #fff;	
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99999;
	display: none;

}
.zhezhao img{
	width: 3rem;
	height: 3rem;
	margin-right: 1.8333333333333333rem;
	margin-top: 0.6666666666666666rem;
	margin-bottom: 1.4166666666666667rem;
}
.zhezhao p{	
	font-size: 1.3333333333333333rem;
	color: #fff;
	opacity: 0.8;
	margin-right: 1.8333333333333333rem;
	

}
/*输入密码观看弹窗*/
.mimawatch,.kanj{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 22.5rem;
	height: 14.833333333333334rem;
	background: #fff;
	border-radius: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -7.416666666666667rem;
	margin-left: -11.25rem;
	z-index: 99999;
	display: none;
}
.mimawatch h4{
	font-size: 1.3333333333333333rem;
	color: #808285;
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}
.mimainp{
	width: 82%;
	height: 3.3333333333333335rem;
	font-size: 1.3333333333333333rem;
	margin: 0 auto;
	border: 1px solid #bcbec0;
	border-radius: 10px;
	text-indent: 0.6666666666666666rem;
	margin-bottom: 2rem;
}
.mimabtns{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	width: 82%;
	height: 2.5rem;
	margin: 0 auto;
}
.mimabtns a{
	width: 8.333333333333334rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border: 1px solid #bcbec0;
	color: #bcbec0;
	text-align: center;
	border-radius: 10px;
	font-size: 1.3333333333333333rem;
}
.sure{
	background: #cc3e44;
	border: 1px solid #cc3e44!important;
	color: #fff!important;
}

/*砍价弹窗*/
.zhezhaoc3{
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.3;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: none;
}
.ktitle{
	font-size: 1.3333333333333333rem;
	color: #808285;
	margin-top: 2rem;
	margin-bottom: 1.0833333333333333rem;
}
.ktips{
	font-size: 1rem;
	color: #808285;
	margin-bottom: 1.5rem;
}
.kprice{
	font-size: 1.6666666666666667rem;
	color: #58595b;
	margin-bottom: 2rem;
}
.kanj .redbtn{
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 18.5rem;
	height: 2.5rem;
	border-radius: 10px;
}












