   @media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
     html,body {
         font-size:34.56px;
     }
   }
     @media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
     html,body {
         font-size:30.72px;
     }
   }
     @media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
     html,body {
         font-size:25.6px;
     }
   }
     @media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
     html,body {
         font-size:23.04px;
     }
   }
     @media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
     html,body {
         font-size:20.48px;
     }
   }
     @media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
     html,body {
         font-size:19.200000000000003px;
     }
   }
     @media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
     html,body {
         font-size:17.28px;
     }
   }
     @media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
     html,body {
         font-size:15.36px;
     }
   }
     @media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
     html,body {
         font-size:13.248000000000001px;
     }
   }
     @media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
     html,body {
         font-size:12.8px;
     }
   }
     @media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
     html,body {
         font-size:12px;
     }
   }
     @media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
     html,body {
         font-size:11.52px;
     }
   }
     @media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
     html,body {
         font-size:10.24px;
     }
   }
     @media only screen and (max-width: 240px), only screen and (max-device-width:240px) {
     html,body {
         font-size:7.68px;
     }
   }
     @media only screen and (max-width: 90rem), only screen and (max-device-width:90rem) {
     html,body {
         font-size:2.4rem;
     }
   }
     @media only screen and (max-width: 80rem), only screen and (max-device-width:80rem) {
     html,body {
         font-size:2.1333333333333333rem;
     }
   }
     @media only screen and (max-width: 66.66666666666667rem), only screen and (max-device-width:66.66666666666667rem) {
     html,body {
         font-size:1.7777777777777777rem;
     }
   }
     @media only screen and (max-width: 60rem), only screen and (max-device-width:60rem) {
     html,body {
         font-size:1.5999999999999999rem;
     }
   }
     @media only screen and (max-width: 53.333333333333336rem), only screen and (max-device-width:53.333333333333336rem) {
     html,body {
         font-size:1.4222222222222223rem;
     }
   }
     @media only screen and (max-width: 50rem), only screen and (max-device-width:50rem) {
     html,body {
         font-size:1.3333333333333333rem;
     }
   }
     @media only screen and (max-width: 45rem), only screen and (max-device-width:45rem) {
     html,body {
         font-size:1.2rem;
     }
   }
     @media only screen and (max-width: 40rem), only screen and (max-device-width:40rem) {
     html,body {
         font-size:1.0666666666666667rem;
     }
   }
     @media only screen and (max-width: 34.5rem), only screen and (max-device-width:34.5rem) {
     html,body {
         font-size:0.92rem;
     }
   }
     @media only screen and (max-width: 33.333333333333336rem), only screen and (max-device-width:33.333333333333336rem) {
     html,body {
         font-size:0.8888888888888888rem;
     }
   }
     @media only screen and (max-width: 31.25rem), only screen and (max-device-width:31.25rem) {
     html,body {
         font-size:0.8333333333333334rem;
     }
   }
     @media only screen and (max-width: 30rem), only screen and (max-device-width:30rem) {
     html,body {
         font-size:0.7999999999999999rem;
     }
   }
     @media only screen and (max-width: 26.666666666666668rem), only screen and (max-device-width:26.666666666666668rem) {
     html,body {
         font-size:0.7111111111111111rem;
     }
   }
     @media only screen and (max-width: 20rem), only screen and (max-device-width:20rem) {
     html,body {
         font-size:0.5333333333333333rem;
     }
   }
  @charset "utf-8";
html,body{width: 100%; min-height: 100%;}
/*弹窗，罗杰*/
.tankuang{display: none; width: 8rem; height: 3rem; text-align: center; line-height: 3rem; position: fixed; left: 50%; margin-left: -4rem;
 top: 50%; margin-top: -1.5rem; background: #000;color: #fff; font-size: 1.4rem; z-index: 9999999; border-radius: 15px;}

/*播放列表页*/

/*banner*/
.bannerdiv{
    display: flex;
    flex-flow: column; 
    justify-content: flex-start;
    align-items: center;
     width: 100%;
     height: 14.833333333333334rem;
     overflow: hidden;
     position: relative;
}

.bannerdiv img{
    width: 100%;
  height: 14.833333333333334rem;
}
.programPurchase{
    display: flex;
    flex-flow: column; 
    justify-content: space-between;
    align-items: center;
    width: 94%;
    border-bottom: 1px solid #f3f4f4;
    padding-top: 2rem;
    margin:0 auto;
    padding: 2rem 3% 2rem 3%;
    background: #fff;
}
.programTop{
    display: flex;
    flex-flow: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;    
}
.program{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: space-between;
    width: 21.8rem;
}
.programTitle{
    width: 100%;
    font-size: 1.6rem;
    color: #808285;
    margin-bottom: 2.6rem;
}
.programTitle2{
    width: 100%;
    font-size: 1.2rem;
    color: #808285;
    margin-bottom: 0.8rem;
}
.programPic{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;  
    margin-bottom: 1.6rem; 
}
.programPic b{
    font-size: 3.3329999999999997rem;
    color: #58595b;
     margin-right: 1.4rem;
}
.programPic sub{
    font-size: 1.6rem;
    color: #808285;
}
.programbtn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 34%;
}
.redBtn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.069rem;
    line-height: 3.069rem;
    background: #cc3e44;
    font-size:1.3333333333333333rem;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 0.4rem;
}
.redfont{
    width: 100%;
    font-size: 1rem;
    color: #cc3e44;
    text-align: center;
    margin-bottom: 1rem;

}
.programBottom{
    display: flex;
    flex-flow: column; 
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}
.programBottom p{
    font-size: 1rem;
    color: #808285;
    line-height: 1.5em;
}

/*抽奖*/
.draw{display: flex;flex-flow: row; 
    justify-content: space-between; 
    align-items: center; width: 94%;
    margin:0 auto;
    padding: 2rem 3% 1rem 3%;background: #fff; 
    margin-bottom: 0.8rem;
    }
.draw img{
    width: 14.2rem;
    height: 9rem;
    margin-left: 0.9rem;
}
.draw .redBtn{
    width: 14.8rem;
}

.playercenter{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}
.playerlist{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 27.4rem;
    background: #fff;
     margin-bottom: 0.8rem;
}
.playerlist:last-child{
    margin-bottom: 0px;
}
.playerimg{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height:21.8rem;
    position: relative;
}
.players{
    width: 100%;
    height: 21.8rem;    
}
.playertime{
    width: 100%;
    height:3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    text-indent: 1.6rem;
    color: #fff;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.playertitle{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 92.8%;
    height: 5.6rem;
    padding: 0px 3.6%;    
}
.playertitle span{
    width: 68%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #58595b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.playertitle strong{
    width: 32%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #808285;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}

/*观看页面抽奖页*/
.videodiv{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.videotitle{
     display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    line-height: 4.8rem;
    text-indent: 1rem;    
    font-size: 1.3333333333333333rem;
    color: #313134;
    text-align:left;
}
.videotitle span{
    width: 70%;
    font-size: 1.3333333333333333rem;
    text-indent: 1rem; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.videotitle b{
    width: 30%;
    font-size: 1rem;
    text-indent: 0rem; 
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.videodenav{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    height: 4.8rem;
}
.videodenav ul{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 97%;
    height: 4.8rem;
    margin: 0 auto;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
     position: relative;
}
.videodenav ul li{  
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    width: 33%;
    height: 2.4rem;
    margin: 0 auto;
    border-right: 1px solid #f5f5f5;
   
}
.videodenav ul li:last-child{
    border: 0px;
}
.videodenav ul li .ali{
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    color: #a7a9ac;

}
.videodenav ul li.selected .ali{
    color: #cc3e44!important;
    border-bottom: 2px solid #cc3e44;

  }

.videode{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.videode01{
    display: flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
     position: absolute;
    top: 4.8rem;
    left: 0px;
    display: none;
    padding-bottom: 5.5rem; 
}
.videode02{
    display: flex;
    flex-flow:column;
    justify-content: flex-start;
    align-items: center;
    width: 78.4%;
    height: auto;
    margin:0 auto;
     margin-top: 3rem;
}
.tips01{
    width: 100%;
    font-size: 1.2rem;
    color: #ca9698;   
    margin-bottom: 2.2rem;
}
.wenda1,.wenda2{
     display: flex;
    flex-flow:column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin:0 auto;
}
.redsubmitbtn2{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    background: #cc3e44;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #e6e6e6;
    background: #fff; 
}
.submitsuccess{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 64.8%;
     height: 4.8rem;
}
.submitsuccess span{
    font-size:1.3333333333333333rem;
    color: #a7a9ac;
}
.icosuccess{
    width: 3rem;
    height: 2.9rem;
    background: url(../image/icolq08.png) center no-repeat;
    background-size: 3rem 2.9rem; 
    margin-right: 2.6rem;
}
.wendadetails{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 35.2%;
     height: 4.8rem;
     background: #cc3e44;
    font-size:1.3333333333333333rem;
     color: #fff;
}
.videolab{
    display: flex;
    width: 100%;
    height: 1.2rem;
    font-size: 1.2rem;
    color: #808285;
    margin-bottom:2.6rem;
    text-indent: 1rem;
    letter-spacing: 0.2rem;
}
.videoinp{
    width: 100%;
    height: 3rem;
    color: #808285;
    text-indent: 0.6rem;
    border-radius: 10px;
    border: 1px solid #808285;
    margin-bottom: 3rem;
}
.redsubmitbtn {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.8rem;
    background: #cc3e44;
    font-size: 1.6rem!important;
    color: #fff!important;
    position: fixed;
    bottom: 0px;
    left: 0px;
}


/*交流*/
.videode03{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 90.1%;
    height: auto;
    margin:0 auto;    
   
}
.pinjdiv{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin:0 auto;    
   
}
.videoplist{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: 5.2rem;
    border-bottom: 1px solid #f3f4f4;
    padding:1.4rem 0px 1rem 0px;
}
.videoplist:last-child{
    border: 0px;
}
.userpic{
    width: 14.79%;
}
.userpic img{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}
.pdiv{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 85.21%;
    height: auto;
}
.pdivname{
    width: 100%;
    height: 1.4rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #808285;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    margin-bottom: 0.6rem;
}
.pdivcenter{
    width: 100%;
    line-height: 1.2rem;
    font-size: 1.2rem;
    color: #58595b;
    margin-bottom: 0.8rem;
}
.pdivcaoz{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%
}
.pdivtime{
    font-size: 0.667rem;
    color: #808285
}
.pdivzan{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
}
.pdivzan em{
    display: flex;   
    margin-right: 0.4rem; 
    color: #a7a9ac;
}
.pdivzan i{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../image/icozan.png) no-repeat;
    background-size: 1.5rem 1.5rem;
}

.pdivzaned em{
    display: flex;   
    margin-right: 0.4rem; 
    color: #c7898b;
}
.pdivzaned i{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../image/icozaned.png) no-repeat;
    background-size: 1.5rem 1.5rem;
}
.pinjiadiv{
    display: flex;
    flex-flow:row;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    width: 95%;
    height: 5.4rem;
    padding:0px 2.5%;
    border-top: 1px solid #e0e1e3; 
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
}
.disabledinput{
    background:#f1f1f2!important;   
}
.disabledinput input{
    background:#f1f1f2!important;
}
.disabledinput .pinjsubmit{
    background:#a7a9ac!important;
    color: #fff;
}
.pinjiadiv input{
    width: 63%;
    height: 2.8rem;
    color: #a7a9ac;
    text-indent: 0.4rem;
    font-size: 1.3333333333rem;
    border: 1px solid #dcddde;
    border-radius: 10px;
}

.pinjsubmit{
    display: flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 2.8rem;
    line-height: 2.8rem;
     color: #a7a9ac;    
    font-size: 1.3333333333rem;
    border-radius: 10px;
    text-align: center;
     background:none;  
   outline:none;  
   border:0px; 
   -webkit-appearance: button;
   -webkit-appearance: none;
    border: 1px solid #dcddde;
}
.pinjiadiv .noclick{
    display: none;
}
.disabledinput .noclick{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

/*看1*/
.lookdiv01{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    min-height: 8.5rem; 
    padding:1.6666666666666667rem 5% 0.6rem 5%;
    border-bottom: 1px solid #f3f4f4;
    margin: 0 auto; 
    background: #fff;
}
.look-pic{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}
.look-pic01{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    height: auto;
}
.look-pic01 span{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    font-size:2rem;
    width: 100%;
    height: 2.4rem;
    color: #cc3e44;
    margin-bottom: 1.1666666666666667rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
}
.look-pic01 span i{
    font-size:2rem;
    color: #cc3e44;
    margin-right: 0.8333333333333334rem;
}
.look-pic01 span a{
    display: flex;
    width:3rem; 
    height:1.9166666666666667rem; 
    background: url(../image/icobo.png) no-repeat center;
    background-size:3rem 1.9166666666666667rem;
   margin-left: 2.0833333333333335rem;
}
.look-pic01 p{
     font-size:1.3333333333333333rem;
    color: #58595b;
}
.look-pic02,.look-pic03{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 5.4rem;
    height: auto;
}
.look-pic02 i,.look-pic03 i{
    display: flex;
    width:2.1666666666666665rem; height:2.1666666666666665rem;
    background: url(../image/icolq01.png) no-repeat;
    background-size: 100% 100%;
    margin-bottom: 0.4166666666666667rem;
}
.look-pic03 i{
   width:1.8333333333333333rem; height:2.0833333333333335rem;
    background: url(../image/icognum.png) no-repeat;
    background-size: 1.8333333333333333rem 2.0833333333333335rem;
}
.look-pic02 span,.look-pic03 span{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #a7a9ac;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dinged i{
     background: url(../image/icolqed01.png) no-repeat;
     background-size: 100% 100%;
}
.dinged span{ 
    /*color: #cc3e44;*/
}
.look-jianj{
    margin-top: 2.3333333333333335rem;
}
.look-div02{
     display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
}
.look-div02 .redsubmitbtn{
     display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width:9.416666666666666rem; 
    height:2.5rem;
    background: #cc3e44;
    font-size: 1.3333333333333333rem!important;
    color: #fff!important;
    position: inherit;
    top: inherit;
    right: inherit;
    left: inherit;
}
.look-share{
    width: auto;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size:1.2rem;
    color: #a7a9ac;
    text-indent: 3.4rem;
    background: url(../image/icolq02.png) left center;
    background-size: 2.2rem 2.5rem;
    background-repeat:no-repeat;    
    text-align: left;
}

.look-list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding:0px 5%;
    padding-bottom: 5rem;
    background: #fff;
    position: relative;
}
.look-list h4{
    width: 100%;
    font-size: 1rem;
    color: #58595b;
    text-indent: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 3.3rem;
}
.look-lists{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;    
}
.look-center{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5.833333333333333rem;
    border: 1px solid #dcddde;
    margin-bottom: 1rem;
}
.look-center span{
    width: 30.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size:1.3333333333333333rem;
    color: #58595b;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    margin-left: 2rem;
    border-left: 5px solid #cd3e44;
    text-indent: 0.6rem;
}
.look-list .redsubmitbtn{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
   width:9.416666666666666rem; height:2.5rem; 
    background: #cc3e44;
    font-size: 1.3333333333333333rem!important;
    color: #fff!important;
    position: absolute;
    top: -4.4rem;
    right: 5%!important;
    left: inherit;
   
}
/*看2*/
.looksee{bottom: 4rem;}
.allwidth{width: 100%;}
.look-pltitle{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 1.3333333333333333rem;
    font-size: 1.3333333333333333rem;
    color: #58595b;
    border-left: 3px solid #a6292e;
    text-indent: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
.look-title01,.look-title02{
    display: flex; 
    font-size: 1.3333333333333333rem;
    line-height: 1.3333333333333333rem;
    color: #58595b;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    margin-bottom: 0.5rem;
}
.look-tips{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 1px solid #f3f4f4;
    overflow:hidden;
}
.look-tips label{
    width: 5.4rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-right: 2px solid  #aeafb0;
    padding-right: 0.4rem;
    font-size: 1.2rem;
    color: #58595b;

}
.look-tips span{
    width: 100%;
    /*height: 1.5rem;*/
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #58595b;
    margin-left: 0.4rem;
    /*text-indent: 2em;*/
}
.look-titlepic{
    width: 100%;
}
#div{display: none; width: 8rem; height: 3rem; text-align: center; line-height: 3rem; position: fixed; left: 50%; margin-left: -4rem;
 top: 50%; margin-top: -1.5rem; background: #000;color: #fff; font-size: 1.4rem; z-index: 9999999; border-radius: 15px;}
#div2{display: none; width: 8rem; height: 3rem; text-align: center; line-height: 3rem; position: fixed; left: 50%; margin-left: -4rem;
 top: 50%; margin-top: -1.5rem; background: #000;color: #fff; font-size: 1.4rem; z-index: 9999999; border-radius: 15px;}

/*听*/
.listen{
    width: 94%;
    height: auto;
    padding: 1.5rem 3% 1.5rem 3%;
    margin:0 auto;
    background: #fff
}
.listenlist{
    margin-top: 1.3rem;
}
.aboutlist{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    padding: 1.3rem 5% 3.2rem 5%;
    background: #fff;
    padding-bottom: 5rem;
}
.aboutlist-title{
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    color: #58595b;
    margin-bottom: 2.2rem;
}
.aboutlist-center{
     display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.aboutlist-center li{
   display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center; 
    width: 30.5%;    
}
.aboutlist-center li a{
   display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    width: 100%;    
}
.aboutlist-center li img{
    width: 100%;
    height: 12.5rem;
}
.aboutlist-center li span{
    font-size: 1rem;
    color: #58595b;
    margin-top: 0.8rem;
    width: 100%;
    text-align: center;
}

/*听2*/
.listentwo{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 2.4rem;
}
.listentwo span,.listentwo strong{
    font-size: 1.6rem;
    height: 2.4rem;
    line-height:  2.4rem;
    color: #58595b;
}
.listentwo span{
    width: 80%;
    margin-bottom: 0.4rem;
}
.listentwo strong{
    width: 20%;
    height: 2.4rem;
    text-align: right;
    margin-bottom: 0.4rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.read{
    flex-flow: column;
    padding-top: 1.8rem;
    padding-bottom: 3rem;
    margin:0 auto;
}
.read *{
    width: 100%;
    font-size: 1rem;
     color: #808285;
    margin-bottom: 3rem;
    text-align: center;
    line-height: 2em;
}
/*.read p{   
    text-indent: 2em;    
}*/
.read p:last-child{   
    margin-bottom: 0px;  
}

/*阅读总完成稿*/
.search{ display: flex; flex-flow: row; justify-content: space-between; align-items:center; width: 100%; height: 3.5rem; border-top: 1px solid #6b6b6f; background: #cc3e44; }
.search-ico{display: flex; width:1.7rem; height: 1.8rem; background: url(../image/icolq05.png) center no-repeat; background-size: 1.7rem 1.8rem;  position: absolute; margin-left: 0.7rem; top: 50%; left: 0px; margin-top: -0.9rem;}
.search-input{display: flex; flex-flow: row; justify-content: center; align-items: center; width: 18rem; height: 2.1rem; position: relative; background: #fff; border-radius: 1.05rem; border:2px solid #dcddde;}
.search-input input{display: flex; flex-flow: row; justify-content: center; align-items: center; width: 23rem; height: 2.1rem; color: #a7a9ac; text-indent: 2.8rem; background: none; border: none;}
.search-input input::-ms-input-placeholder{text-align: center;text-indent: 0px;}
.search-input input::-webkit-input-placeholder{text-align: center;text-indent: 0px;}
.search-img1,.search-img2{ display: flex; flex-flow: row; justify-content: center; align-items:center; width: 4.4rem;height: 3.5rem;}
.search-img1 a,.search-img2 a{ display: flex; flex-flow: row; justify-content: center; align-items:center; width: 4.4rem;height: 3.5rem;}
.search-imga{width: 2.9rem; height: 2.8rem;}
.search-imga2{width: 3.1rem; height: 2.8rem;}
/*无评论*/
.nopinl{display: flex; flex-flow: column; justify-content: center; align-items:center;width: 100%; height: 20.3rem;}
.nopinl img{width: 6.6rem; height: 4.6rem;}
.nopinl span{font-size: 1.2rem; color: #a7a9ac; margin-top:1.8rem;}
/*总完成稿*/
.nav-two{display: flex; flex-flow: row; justify-content: center; align-items:center;width: 100%; height: 5rem; background: #fff; margin-bottom: 0.8rem;}
.nav-twodiv{display: flex; flex-flow: row; justify-content: space-around; align-items:center;width: 100%; height: 5rem; }

.nav-hot,.nav-classify{display: flex; flex-flow: column; justify-content: center; align-items:center;width: 25%; height: 5rem;}
.nav-hot a,.nav-classify a{display: flex; flex-flow: row; justify-content: space-around; align-items:center;width: 100%; height: 5rem;}
.nav-hot img,.nav-classify img{width: 3.1rem; height: 3.1rem; margin-top: 0.4rem;margin-bottom:0.2rem; }
.nav-hot span,.nav-classify span{font-size: 1rem; line-height: 1.2rem; color: #58595b;}


.listnew{display: flex; flex-flow: column; justify-content: center; align-items:center; width: 96.5%; padding: 0px 1.75%; background: #fff; margin-bottom: 0.8rem;}
.listnew-title{display: flex; flex-flow: row; justify-content: space-between; align-items:center; width: 100%; height: 3.2rem;border-bottom: 1px solid #f3f4f4; }
.border-leftred{border-left: 3px solid #a6292e; text-indent: 1.2rem; font-size: 1.333rem; color: #58595b;}
.listmore{display: flex; flex-flow: row; justify-content: flex-start; align-items:center; font-size: 1.333rem;color: #58595b;}
.rightj{display: inline-flex; width: 0.7rem; height: 1.3rem; background: url(../image/icolq04.png) center no-repeat; background-size:0.7rem 1.3rem;  margin-left: 0.4rem;}
.listcenter{display: flex; flex-flow: row wrap; justify-content: space-between; align-items:center; width: 100%; margin-top: 1.3rem;}
.listli{display: flex; flex-flow: column; justify-content: center; align-items:center; width: 48%; height: auto; padding-bottom: 1.4rem;}
.list-img{display: flex; flex-flow: column; justify-content: center; align-items:center; width: 100%; height: auto; min-height: 11.833333333333334rem; position: relative;}
.listimg{width: 100%; height:auto; }
.listico{position: absolute; top: 0px; right: 0px; width: 4.4rem; height: 4.4rem; color: #fff; font-size: 1.518rem;line-height: 3.3rem; background: url(../image/icolq03.png) right top no-repeat; background-size: 4.4rem 4.4rem; text-indent: 2.5rem;}

.list-titlediv{display: flex; flex-flow: row; justify-content: space-between; align-items:center; width: 97%; margin-top: 1rem;}
.list-title{max-width: 60%; height: 1.2rem; line-height: 1.2rem; font-size: 1.012rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;text-align: left;}
.list-bnum{max-width:40%;height: 1.2rem; line-height: 1.2rem; font-size: 1.012rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; text-align: right;}

/*空搜索*/
.search-null{
    display: flex; flex-flow: row; 
    justify-content: flex-start; align-items:center; 
    width: 100%;
    height: 3.4rem;
    background: #cc3e44;
}
.search-keyworlda{
   font-size:1.1108333333333333rem;
   color: #fff;
    margin-left: 8%;
    margin-right: 3rem;
}
.search-nulldiv{
     display: flex; flex-flow: column; 
    justify-content: center; align-items:center; 
    width: 100%;
}
.search-nulldiv span{
    font-size: 1.333rem;
    color: #808285;
    margin-top: 3.4rem;
}

/*搜索页面*/
.search-nav{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    height: 3.4rem;
    /*background: #efeff4;*/
    /*border-bottom: 1px solid #d7d8dc;*/
}
.search-navul{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center; 
    width: 84%;
    height: 3.4rem;
    margin:0 auto;
    /*background: #fff;*/
    position: relative;
    border-bottom: 1px solid #d7d8dc;
}
.search-navli{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start; 
    width: 7.6rem;
    height: 3.4rem;
}
.search-keyword{
    display: flex;
     flex-flow: row;
    justify-content: center;
    align-items: center; 
    width:3.0833333333333335rem;
     height: 1.75rem;  
    background: none;
    color: #808285;
    font-size:1.1108333333333333rem;
}
.keyed .search-keyword{
    background: #d76c70;
    color: #fff;
}
.search-keywordcenter{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 100%;
    height: auto;
    position: absolute;
    top:3.4rem;
    left: 0px;
    /*background: #efeff4;*/
    
}
.search-keywordf{
     display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; 
     width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    border-bottom: 1px solid #d7d8dc;
}
/*div.search-keywordf:last-child{
    border: 0px;
}*/
.search-keywordf h6{
    font-size:1.3333333333333333rem;
    color: #808285;
    padding: 0.2rem 0.4rem;
}
.search-keywordli{
     display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start; 
     width: 100%;
    height: auto;
}

.search-keywordli span{
    display: inline-flex;
     flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 0.2rem 0.4rem;
    font-size:1.1108333333333333rem;
    color: #808285;
    margin-right: 2.2rem;
    margin-top: 1rem;
}
.reddiv{
    background: #d76c70;
    color: #fff!important;
}

.search-inputsea{
    display: flex;
     flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:1.8333333333333333rem;
    margin-top: 1em;
}
.search-inputs{
    display: flex;
     flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width:16.333333333333332rem; 
    height:inherit;
    line-height: 1.8333333333333333rem;
    border: 1px solid #000;
     font-size:1.3891666666666669rem;
    border-radius: 6px;
    background: none;
    text-indent: 4px;
    margin:0px;
    padding: 0px;
    color: #000;
    background: #fff;
}
input.search-inputs::-ms-input-placeholder{
    text-align: left;color: #000
}
input.search-inputs::-webkit-input-placeholder{
    text-align: left;color: #000
}
.search-btn{
    display: flex;
     flex-flow: row;
    justify-content: center;
    align-items: center;
    width:4.5rem;
    height:inherit;
     text-align: center;
    line-height: 1.8333333333333333rem;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 6px;
    background: none;
    margin-right: 1.333333rem;
    padding: 0px;

}
/*帮他砍价*/
.share-user{
     display: flex;
     flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 92.8%;
    height: 7rem;
    /*background: #fff;*/
    background: url(../image/icoredbg.jpg) repeat;
    padding: 1.8rem 3.6% 2.2rem 3.6%; 
    margin:0 auto;
    border-bottom: 1px solid #e2e2e3; 
}
.share-user-img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%; 
}
.share-user-text{
    display: flex;
     flex-flow: column;
    justify-content: space-between;
    align-items: flex-start; 
    width: 69%;
    height: 6rem;
    padding: 0.5rem 0px;
}
.share-user-text span{
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 1.3333333333333333rem;
}
.share-user-text p{
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 1.3333333333333333rem;
}
.share-center{
    display: flex;
     flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 94.6%;
    height: 7rem;
    background: #fff;
    padding: 3.2rem 2.7% 3.4rem 2.7%; 
    margin-bottom: 0.5rem;
}
.sharered{
    background: url(../image/icoredbg.jpg) repeat!important;
    margin-bottom: 0px;
    border-bottom: 1px solid #db7e82;
}
.sharered *{
    color: #fff!important;
}
.sharered .share-center-tips{
    color: #ffaeb2!important;
    } 
.sharered .share-center-img{
    border: 1px solid #fff;
}
.sharered .share-price-num{
    color: #ffaeb2!important;
}
.sharered .share-pricede span{
    color: #ffaeb2!important;
}
.redplay{
   display: flex;
   width:1.6666666666666667rem; height:1.0833333333333333rem;
    background: url(../image/icobo.png) no-repeat;
    background-size: 1.6666666666666667rem 1.0833333333333333rem; 
    margin-left: 1rem;
}
.redlis{
   display: flex;
   width:1.5833333333333333rem; height:1.5833333333333333rem;
    background: url(../image/icolis.png) no-repeat;
    background-size: 1.5833333333333333rem 1.5833333333333333rem; 
    margin-left: 1rem;
}
.share-center-img{
    width:7.666666666666667rem; 
    height:7.666666666666667rem;
}
.share-center-text{
     display: flex;
     flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 69.8%;
    height: 7rem;
    position: relative;
}
.share-center-title{
    width: 100%;
    font-size: 1.3333333333333333rem;
    color: #808285;
    margin-bottom: 1.2rem;
    line-height: 1.2em;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;

}
.share-center-tips{
    font-size: 1rem;
    color: #a7a9ac;

}
.share-center-num{
    width: 100%;
    font-size: 1.3333333333333333rem;
    color: #808285;
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.share-price{
    display: flex;
     flex-flow: column;
    justify-content: space-between;
    align-items: center; 
    width: 92.8%;
    height: 9.4rem;
    background: #fff;
    padding: 0.9rem 3.6% 6rem 3.6%; 
    margin:0 auto;
    margin-bottom: 0.8rem;
}
.share-price-num{
    width: 100%;
    font-size: 1.3333333333333333rem;
    color: #808285;
    text-align: right;
    margin-bottom: 5.8rem;
}
.share-pricede{
    display: flex;
     flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 74.6%;
    height: 2rem;
    margin: 0 auto;
}
.share-pricede span{
    font-size: 1.3333333333333333rem;
    color: #808285;
}
.share-pricede span .redfont{
    font-size: 1.3333333333333333rem;
}
.share-detils{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: space-between; 
    width: 92.8%;
    height: auto;
    padding: 1.34rem 3.6% 0rem 3.6%;
    background: #fff;
}
.share-detilsp{
    width: 100%;
    font-size: 1.2rem;
    color: #808285;
}
.share-btns{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center; 
    width: 96%;
    height: 5rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 0px 2%; 
    background: #fff;
}
.share-btn1,.share-btn2{
    width:13.75rem; 
    height:3.1666666666666665rem;
    border: 1px solid #cc3e44;
    text-align: center;
    line-height: 3.1666666666666665rem;
    color: #cc3e44;
    border-radius: 10px;
}
.share-btns .redbtn{
    background: #cc3e44;
    color: #fff!important;
    margin:0px;
}

/*支付页面*/
.buydiv{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    background: #fff;
}
.buyp{
   display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 92.8%;
    height: 5.4rem;
    padding:0px 3.6%;
   /* background: #fff;*/
    border-bottom: 1px solid #a7a9ac;
}
.buyp label{
    display: inline-flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center; 
    width: 20%;
    height: 5.4rem;
    font-size: 1.3333333333333333rem;
    color: #808285;
    border:0px;
}
.userinput{
   display: inline-flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center; 
    width: 80%;
    height: 5.4rem;
    font-size: 1.3333333333333333rem;
    color: #808285;
    border: 0px;
    background: none;
}
input.userinput::-ms-input-placeholder{
    text-align: left;text-indent: 3.3rem; color: #d1d3d4
}
input.userinput::-webkit-input-placeholder{
    text-align: left;text-indent: 3.3rem;color: #d1d3d4
}

.buycenter .share-center-num{
    text-align: left;
}
.buynum{
     display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 92.8%;
    height: 2.2rem;
    padding: 3.9rem 3.6% 4.3rem 3.6%;
    background: #fff;
    margin-bottom: 0.8rem;
    margin-bottom:15rem;
}
.buynum span{
    font-size: 1rem;
    color: #808285;
}
.buyjis{
     display: inline-flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 9.6rem;
    height: 2.2rem;
}
.jian,.jia{
    display: inline-flex;
    width: 1.9166666666666667rem;
    height: 1.9166666666666667rem;    
}
.jian{background: url(../image/icojian.png) center no-repeat; background-size:1.9166666666666667rem 1.9166666666666667rem;}
.jia{background: url(../image/icojia.png) center no-repeat; background-size:1.9166666666666667rem 1.9166666666666667rem;}
.buynuminp{
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; 
    width: 5rem;
    height: 2.2rem;
    font-size: 1.2rem;
    /*color: #818286;*/
    color: #333!important;
    font-weight: bold;
    text-align: center;
}
.buynuminp:disabled{
    background: none;
    color: #333!important;
    font-weight: bold;
}
.buybtns{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: 10rem;
    padding: 2rem 0px 1rem 0px;
    background: #fff; 
     position: fixed;
    bottom: 0px;
    left: 0px;
}
.buyprice{
    font-size: 2.4rem;
    color: #808285;
    margin-bottom: 4rem;
}
.buybtns .redbtn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 25.8rem;
    height: 4rem;
    text-align: center;
    border-radius: 8px;
    background: #cc3e44;
    color: #fff;
    font-size: 1.3333333333333333rem;
}

.searchend{
    width: 84%;
    background: #cc3e44;
    padding:5px 8%;
}
.searchend .search-inputsea{
    margin-top: 0px;
}
.search-xiug02{
    height: 2.75rem;
    background: #fff;
}
.search-xiug02 .search-keyworlda{
    color: #808285;
}

/*searchnull*/
.search-null02{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:22.5rem; 
    height:14.833333333333334rem;
    border-radius: 10px;
    background: #fff;
    border:1px solid #a7a9ac;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -7.1466rem;
    margin-left: -11.25rem;
    z-index: 99;
    display: none;
}
.search-null02-img{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:5.833333333333333rem;
    height:5.166666666666667rem;
}
.search-null02-text{
    font-size:1.3333333333333333rem;
    color: #808285;
    margin-top: 1rem;
}
.search-null-btn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width:11.666666666666666rem; 
    height:2.75rem; 
    background: #cc3e44;
    border-radius: 10px; 
    font-size:1.3333333333333333rem;
    color: #fff;
    margin-top:1rem;
}

.success-tips{
    margin-bottom: 2.3333333333333335rem;
    margin-top: 3rem;
}