/*
 * CSS Document
 * 
 * Creat by Nelson 2016/02/18
 * 
 * Website:https://segmentfault.com/u/nelson2016
 * 
 * QQ:616859570
 * 
 * Email:Nelson_Lee@outlook.com , Nelson2016@aliyun.com
 * */

.wrap{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 5rem;
	background: #fff;
	/*background: url(../images/iphone_keyboard_bg.jpg) no-repeat;*/
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1000;

}
.inputBoxContainer{
	width:16.666666666666668rem; 
	height:4.166666666666667rem;
	position: relative;
}
.inputBoxContainer .bogusInput{
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;	
	overflow: hidden;
	position: absolute;
	z-index: 0;
	/*-webkit-border-radius: 7px;
       -moz-border-radius: 7px;
			border-radius: 7px;*/
}
.inputBoxContainer .realInput{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	z-index: 1;
	filter:alpha(opacity=0); 
	-moz-opacity:0; 
	opacity:0;
}
.inputBoxContainer .bogusInput input{
	padding: 0;
	width: 13%;
	height: 3rem;
	float:left;
	background: #ffffff;
	text-align: center;
	font-size:1.6666666666666667rem;
	border: none;
	border: #58595b 1px solid;
	/*border-right: #C3C3C3 1px solid;*/
}
.inputBoxContainer .bogusInput input:last-child{
	/*border: none;*/
}
.confirmButton{
	width:7.916666666666667rem;
	height:3rem;
	background: #cc3e44;
	border: #cc3e44 1px solid;
	display: block;
	font-size: 1.3333333333333333rem;
	color: #fff;
	padding:0px;
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
			border-radius: 7px;
}
/*.showValue{
	width: 240px;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}*/
